body {
  font-family: arial;
  margin: 0;
}

.blog-post {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.blog-title {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1em;
}

.blog-img {
  float: left;
}

.blog-text {
  overflow-wrap: break-word;
}
